# Thu thap du lieu chứng Khoán

In [12]:
import sys
sys.path.append('../Common/')

import CommonSSI

In [5]:
# Ví dụ: Gọi hàm để lấy dữ liệu từ '2023-01-01' đến '2023-12-31'
symbol = "SSI"
from_date = "2002-01-01"
to_date = "2023-12-31"
data = CommonSSI.CommonSSI.loaddataSSI_Ext(symbol, from_date, to_date)

In [7]:
data.info()
data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4286 entries, 0 to 4285
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  4286 non-null   datetime64[ns]
 1   Open      4286 non-null   object
 2   High      4286 non-null   object
 3   Low       4286 non-null   object
 4   Close     4286 non-null   object
 5   Volume    4286 non-null   object
dtypes: datetime64[ns](1), object(5)
memory usage: 201.0+ KB

       Datetime   Open   High    Low  Close    Volume
0    2006-12-15   7374  21067      5   9607    293000
1    2006-12-18   8954   9607   8954   8954    340200
2    2006-12-19  10270  10402   9533  10270    326900
3    2006-12-20  11392  11392  10323  10323    651600
4    2006-12-21  10534  10534   9886   9886    200100
...         ...    ...    ...    ...    ...       ...
4281 2023-12-25  32350  32750  32100  32550  13953300
4282 2023-12-26  32600  32900  32500  32750  14005700
4283 2023-12-27  32950  33150  32800  32800  16101500
4284 2023-12-28  32850  33150  32650  33000  10895900
4285 2023-12-29  32950  33100  32750  32800  12790300

[4286 rows x 6 columns]

# Chen vao DWH: Không có user và password

In [11]:
import urllib.parse
import sqlalchemy

driver = 'ODBC Driver 17 for SQL Server'
server = '.'  # hoặc tên server của bạn
database = 'DWH'  # thay đổi tên database nếu cần

# Tạo chuỗi kết nối
params = urllib.parse.quote_plus(f'DRIVER={driver};SERVER={server};DATABASE={database};Trusted_Connection=yes')
connection_string = f"mssql+pyodbc:///?odbc_connect={params}"

# Tạo engine kết nối
engine = sqlalchemy.create_engine(connection_string)

# Lưu DataFrame vào SQL Server
table_name = 'ChungKhoan_Data'
data.to_sql(table_name, con=engine, if_exists='append', index=False)

98

# Chen vao DWH: Có user và password

In [4]:
# import urllib.parse
# import sqlalchemy

# driver = 'ODBC Driver 17 for SQL Server'
# server = '.'  # hoặc tên server của bạn
# database = 'DWH'  # thay đổi tên database nếu cần
# username = 'sa'  # tên người dùng của bạn
# password = '1'  # mật khẩu của bạn

# # Tạo chuỗi kết nối
# params = urllib.parse.quote_plus(f'DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password}')
# connection_string = f"mssql+pyodbc:///?odbc_connect={params}"

# # Tạo engine kết nối
# engine = sqlalchemy.create_engine(connection_string)

# # Lưu DataFrame vào SQL Server
# table_name = 'ChungKhoan_Data'
# data.to_sql(table_name, con=engine, if_exists='append', index=False)