# Thu thap du lieu FX

In [1]:
import sys
sys.path.append('../Common/')

import CommonMT5

In [6]:
# Ví dụ: Gọi hàm để lấy dữ liệu từ '21970-01-05' đến '2023-12-31'
symbol = "USDJPY"
from_date = "1970-01-03"
to_date = "2024-01-26"
data = CommonMT5.CommonMT5.loaddataMT5(symbol, from_date, to_date)

In [3]:
data

        Datetime     Open     High      Low    Close  Volume
0     1971-01-04  357.730  357.730  357.730  357.730       1
1     1971-01-05  357.810  357.810  357.810  357.810       1
2     1971-01-06  357.860  357.860  357.860  357.860       1
3     1971-01-07  357.870  357.870  357.870  357.870       1
4     1971-01-08  357.820  357.820  357.820  357.820       1
...          ...      ...      ...      ...      ...     ...
13672 2024-01-19  148.127  148.796  147.827  148.154   80107
13673 2024-01-22  148.203  148.293  147.607  148.079   69202
13674 2024-01-23  148.058  148.684  146.966  148.352   91820
13675 2024-01-24  148.313  148.385  146.640  147.486   91461
13676 2024-01-25  147.451  147.923  147.192  147.229   52207

[13677 rows x 6 columns]

# Chen vao DWH: Không có user và password

In [17]:
import urllib.parse
import sqlalchemy

driver = 'ODBC Driver 17 for SQL Server'
server = '.'  # hoặc tên server của bạn
database = 'DWH'  # thay đổi tên database nếu cần

# Tạo chuỗi kết nối
params = urllib.parse.quote_plus(f'DRIVER={driver};SERVER={server};DATABASE={database};Trusted_Connection=yes')
connection_string = f"mssql+pyodbc:///?odbc_connect={params}"

# Tạo engine kết nối
engine = sqlalchemy.create_engine(connection_string)

# Lưu DataFrame vào SQL Server
table_name = 'Forex_Data'
data.to_sql(table_name, con=engine, if_exists='append', index=False)

281

# Chen vao DWH: Có user và password

In [4]:
# import urllib.parse
# import sqlalchemy

# driver = 'ODBC Driver 17 for SQL Server'
# server = '.'  # hoặc tên server của bạn
# database = 'DWH'  # thay đổi tên database nếu cần
# username = 'sa'  # tên người dùng của bạn
# password = '1'  # mật khẩu của bạn

# # Tạo chuỗi kết nối
# params = urllib.parse.quote_plus(f'DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password}')
# connection_string = f"mssql+pyodbc:///?odbc_connect={params}"

# # Tạo engine kết nối
# engine = sqlalchemy.create_engine(connection_string)

# # Lưu DataFrame vào SQL Server
# table_name = 'ChungKhoan_Data'
# data.to_sql(table_name, con=engine, if_exists='append', index=False)