In [4]:
# import ssi_fc_trading
import os, sys
import pandas as pd
from ssi_fc_data import fc_md_client, model
import configDataSSL

from_date = '14/12/2023'
to_date = '13/01/2024'

client = fc_md_client.MarketDataClient(configDataSSL)
data = client.intraday_ohlc(configDataSSL, model.intraday_ohlc('VN30F1M', from_date, to_date, 1, 9999, True, 1))
data = data['data']
data = pd.DataFrame(data)
data['Time'] = data['TradingDate'] + " " + data['Time']
# data.set_index('Time', inplace=True)
# Chuyển định dạng số
data['Open'] = pd.to_numeric(data['Open'], errors='coerce')
data['High'] = pd.to_numeric(data['High'], errors='coerce')
data['Low'] = pd.to_numeric(data['Low'], errors='coerce')
data['Close'] = pd.to_numeric(data['Close'], errors='coerce')
data['Volume'] = pd.to_numeric(data['Volume'], errors='coerce')

In [6]:
data

,Symbol,Value,TradingDate,Time,Open,High,Low,Close,Volume
0,VN30F1M,1112.30,14/12/2023,14/12/2023 09:00:58,1112.8,1113.4,1112.3,1112.3,4979
1,VN30F1M,1112,14/12/2023,14/12/2023 09:01:58,1112.3,1112.4,1111.8,1112.0,1845
2,VN30F1M,1111.80,14/12/2023,14/12/2023 09:02:56,1112.0,1112.0,1111.4,1111.8,1101
3,VN30F1M,1112,14/12/2023,14/12/2023 09:03:59,1111.8,1112.1,1111.6,1112.0,913
4,VN30F1M,1111.70,14/12/2023,14/12/2023 09:04:58,1112.0,1112.1,1111.6,1111.7,479
...,...,...,...,...,...,...,...,...,...
5090,VN30F1M,1166,12/01/2024,12/01/2024 14:27:56,1165.8,1166.0,1165.1,1166.0,1196
5091,VN30F1M,1166.50,12/01/2024,12/01/2024 14:28:56,1165.9,1166.6,1165.2,1166.5,1515
5092,VN30F1M,1166.50,12/01/2024,12/01/2024 14:29:59,1166.2,1166.5,1165.0,1166.5,2020
5093,VN30F1M,1165.60,12/01/2024,12/01/2024 14:30:03,1165.6,1165.6,1165.6,1165.6,63
5094,VN30F1M,1165.90,12/01/2024,12/01/2024 14:45:11,1165.9,1165.9,1165.9,1165.9,7358

In [32]:
import pandas as pd
import time
from datetime import datetime, timedelta
from ssi_fc_data import fc_md_client, model
import configDataSSL

# Chuyển đổi ngày từ string sang datetime
def parse_date(date_string):
    return datetime.strptime(date_string, '%d/%m/%Y')

# Khởi tạo client
client = fc_md_client.MarketDataClient(configDataSSL)

# Định nghĩa ngày bắt đầu và kết thúc
from_date = '01/10/2023'
to_date = '13/01/2024'

# Chuyển đổi ngày
start_date = parse_date(from_date)
end_date = parse_date(to_date)

# Lưu trữ dữ liệu của từng khối
data_blocks = []

current_date = start_date
while current_date <= end_date:
    next_date = current_date + timedelta(days=15)
    if next_date > end_date:
        next_date = end_date

    # Lấy dữ liệu cho khối ngày hiện tại
    block_data = client.intraday_ohlc(configDataSSL, model.intraday_ohlc('VN30F1M', current_date.strftime('%d/%m/%Y'), next_date.strftime('%d/%m/%Y'), 1, 9999, True, 1))
    block_data = block_data['data']
    df = pd.DataFrame(block_data)
    df['Time'] = df['TradingDate'] + " " + df['Time']

    # Chuyển định dạng số
    df['Open'] = pd.to_numeric(df['Open'], errors='coerce')
    df['High'] = pd.to_numeric(df['High'], errors='coerce')
    df['Low'] = pd.to_numeric(df['Low'], errors='coerce')
    df['Close'] = pd.to_numeric(df['Close'], errors='coerce')
    df['Volume'] = pd.to_numeric(df['Volume'], errors='coerce')

    # Thêm khối dữ liệu vào danh sách
    data_blocks.append(df)

    # Chuẩn bị cho khối ngày tiếp theo
    current_date = next_date + timedelta(days=1)
    time.sleep(10)

# Ghép tất cả các khối dữ liệu thành một DataFrame
final_df = pd.concat(data_blocks)

# Trả về DataFrame
final_df

,Symbol,Value,TradingDate,Time,Open,High,Low,Close,Volume
0,VN30F1M,1161.40,02/10/2023,02/10/2023 09:00:58,1162.7,1163.1,1161.4,1161.4,2697
1,VN30F1M,1162.50,02/10/2023,02/10/2023 09:01:58,1161.8,1162.5,1161.7,1162.5,716
2,VN30F1M,1163.20,02/10/2023,02/10/2023 09:02:56,1162.7,1163.2,1162.6,1163.2,843
3,VN30F1M,1163,02/10/2023,02/10/2023 09:03:58,1163.3,1163.4,1163.0,1163.0,567
4,VN30F1M,1163,02/10/2023,02/10/2023 09:04:56,1163.0,1163.1,1162.8,1163.0,257
...,...,...,...,...,...,...,...,...,...
1446,VN30F1M,1166,12/01/2024,12/01/2024 14:27:56,1165.8,1166.0,1165.1,1166.0,1196
1447,VN30F1M,1166.50,12/01/2024,12/01/2024 14:28:56,1165.9,1166.6,1165.2,1166.5,1515
1448,VN30F1M,1166.50,12/01/2024,12/01/2024 14:29:59,1166.2,1166.5,1165.0,1166.5,2020
1449,VN30F1M,1165.60,12/01/2024,12/01/2024 14:30:03,1165.6,1165.6,1165.6,1165.6,63
1450,VN30F1M,1165.90,12/01/2024,12/01/2024 14:45:11,1165.9,1165.9,1165.9,1165.9,7358